body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh ;
    transition: 0.3s;
}
#colorButton{
    border-radius: 50%;
    box-shadow : 0px 0px 20px 0px gray;
    transition: all 0.3s ease;
    width: 250px;
    height: 250px;
}
#colorButton:hover{
    transform: scale(0.9);
}